{% extends "base.html.twig" %}

{% block main %}
<main class="main">
    <article class="nextMatch">
        <article class="titleBoutique img-background">
            <figure>
                <img src="{{nsMasia.logourl}}" alt="{{nsMasia.logoalt}}">
            </figure>
            <h1>Billeterie {{nsMasia.name}}</h1>
            {% if errorMessage is not empty %}
                <p style="text-align:center;" class="alertMessage">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;" class="alertMessage">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
        </article>
        {% if matchs is not empty %}
            <div class="matchs">
            {% for match in matchs %}
                    <ul class="reservation">
                    {% if match.home_outside == "domicile" %}
                        <li>
                            <h2>{{ nsMasia.name }}</h2>
                            <p>{{ match.team }}</p>
                            <p>{{ match.home_outside }}</p>
                        </li>
                    {% else %}
                        <li>
                            <h2>{{ match.team }}</h2>
                            <p>VS</p>
                            <p>{{ nsMasia.name }}</p>
                            <p>{{ match.home_outside }}</p>
                        </li>
                    {% endif %}
                        <li>
                            <p>{{ match.date|date("d/m/Y", "Europe/Paris") }} - {{ match.time|date("H:i", "Europe/Paris") }}</p>
                        </li>
                        <li>
                            <figure> 
                                <img src="{{ match.logo_url }}" alt="{{ match.logo_alt }}">
                            </figure>
                        </li>
                        {% if match.home_outside == "domicile" %}
                        <li>
                            <a href="Réservation-{{ match.match_id }}" class="btn">Je réserve</a>
                        </li>
                        {% else %}
                        <li>
                            <p>Match à l'extérieur.</p>
                        </li>
                        {% endif %}
                    </ul>
            {% endfor %}
            </div>
        {% else %}
            <h3>Pas de réservation disponible...</h3>
        {% endif %}
    </article>
</main>
{% endblock %}