{% extends "base.html.twig" %}

{% block main %}
<main class="container">
    <article class="nextMatch">
        <article class="titleBoutique img-background">
            <figure>
                <a href="index.php?route=home"><img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/></a>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Billeterie Officiel</p>
        </article>
        <ul class="matchs">
        {% for match in matchs %}
            <ul class="reservation">
                <li>
                    <h2>NS MASIA FC</h2>
                    <p>{{ match.team }}</p>
                    <p>{{ match.domicileExterieur }}</p>
                </li>
                <li>
                    <p>{{ match.date |date("l j F", "Europe/Paris") }} - {{ match.time |date("H:i", "Europe/Paris") }}</p>
                </li>
                <li>
                    <figure> 
                        <img src="{{ match.logo_url }}" alt=" {{ match.logo_alt }} "/>
                        
                    </figure>
                </li>
                <li>
                    <a href="index.php?route=reservation&id={{match.match_id}}"><button type="submit" class="btn">Je réserve</button></a>
                </li>
            </ul>
        {% endfor %}
        <ul>    
    </article>
</main>
{% endblock %}