{% extends "base.html.twig" %}

{% block main %}

<main class="main">
    <section class="admin">
        <a href="index.php?route=checkAdmin&secret={{secret}}" class="btn">Retour</a>
        <h1>Page Boutique</h1>
        <article class="handle">
            <h2>Boutique</h2>
            {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
            <article class="add">
                <h3>Ajouter un produit <span class="fa-solid fa-square-plus fa-xl" style="color: #00ff62;"></span></h3>
                <form action="index.php?route=checkAddproduct&secret={{secret}}" 
                      method="POST" 
                      enctype="multipart/form-data"
                      class="form">
                <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                    <fieldset>
                        <label for="nameProduct">Name</label>
                        <input type="text" id="nameProduct" name="nameProduct" placeholder="Maillot" required>
                    </fieldset>

                    <fieldset>
                        <legend>Image principale</legend>
                        <label for="addMediaFile">Url 1</label>
                        <input type="file" id="addMediaFile" name="addMediaFile" required>
                        <input type="hidden" id="addMediaFile" name="addMediaFile">

                        <label for="imgUrl">Image Alt 1</label>
                        <input type="text" id="imgAlt" name="imgAlt" placeholder="Description de l'image" required>
                    </fieldset>

                    <fieldset>
                        <legend>Image secondaire</legend>
                        <label for="addMediaFile2">Url 2 </label>
                        <input type="file" id="addMediaFile2" name="addMediaFile2" >
                        <input type="hidden" id="addMediaFile2" name="addMediaFile2">

                        <label for="ortherImgUrl">Image Alt 2</label>
                        <input type="text" id="ortherImgAlt" name="ortherImgAlt" placeholder="Description de l'image">
                    </fieldset>

                    <fieldset>
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="5" required></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="prices">Prix</label>
                        <input type="number" id="prices" name="prices" placeholder="Prix du produit" required>
                    </fieldset>

                    <fieldset>
                        <button type="submit" class="btn">Ajouter</button>
                    </fieldset>
                </form>
            </article>

            <article class="remove">
                <h3>Retirer un produit <span class="fa-solid fa-trash-can fa-xl" style="color: #ff0000;"></span></h3>
                <form action="index.php?route=checkRemoveproduct&secret={{secret}}" method="POST" class="form">
                <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                    <fieldset>
                        <label for="selectProduct">Choisissez le produit à modifier : </label>
                        <select name="selectProduct" id="selectProduct" required>
                            <option value=""> <span class="fa-solid fa-chevron-down fa-sm"></span> </option>
                            {% for product in products %}
                                <option value="{{product.id}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </fieldset>

                    <fieldset>
                        <button type="submit" class="btn">Supprimer</button>
                    </fieldset>
                </form>
            </article>
        </article>
    </section>
</main>
{% endblock %}