
{% extends "base.html.twig" %}
{% block main %}

    <main class="main">
        <section class="admin">
            <a href="index.php?route=checkAdmin&secret={{secret}}" class="btn">Retour</a>
            <h1>Page Club</h1>
            <article class="handle">
                <h2>Club</h2>
                <ul>
                    <li><span class="fa-solid fa-square-plus fa-2xl" style="color: #00ff62;"></span></li>
                    <li><span class="fa-solid fa-trash-can fa-2xl" style="color: #ff0000;"></span></li>
                </ul>
                {% if errorMessage is not empty %}
                    <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
                {% endif %}

                {% if valideMessage is not empty %}
                    <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
                {% endif %}
                <article class="add">
                    <h3>Ajouter un joueur <span class="fa-solid fa-square-plus fa-xl" style="color: #00ff62;"></span></h3>
                    <form action="index.php?route=checkaddPlayer&secret={{secret}}" method="POST" class="form ">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="addFirst_name">Prénom</label>
                            <input type="text" id="addFirst_name" name="addFirst_name" required>
                        </fieldset>
                        <fieldset>
                            <label for="addLast_name">Nom</label>
                            <input type="text" id="addLast_name" name="addLast_name" required />
                        </fieldset>
                        <fieldset>
                            <label for="addNameJersay">Nom sur maillot</label>
                            <input type="text" id="addNameJersay" name="addNameJersay" required />
                        </fieldset>
                        <fieldset>
                            <label for="addNumberJersay">Numéro de maillot</label>
                            <input type="number" id="addNumberJersay" name="addNumberJersay" min="0" max="99" required />
                        </fieldset>
                        <fieldset>
                            <label for="addPoste">Choisissez son poste : </label>
                            <select name="addPoste">
                                <option value="position"> <span class="fa-solid fa-chevron-down fa-sm"></span> </option>
                                <option value="Gardien">Gardien</option>
                                <option value="Defenseur">Défenseur</option>
                                <option value="Milieu">Milieu</option>
                                <option value="Attaquant">Attaquant</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="btn">Modifier</button>
                        </fieldset>
                    </form>
                </article>

                <article class="remove">
                    <h3>Retirer un joueur <span class="fa-solid fa-trash-can fa-xl" style="color: #ff0000;"></span></h3>
                    <form action="index.php?route=checkRemovePlayer&secret={{secret}}" method="POST" class="form ">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="player">Choisissez le joueur à retirer : </label>
                            <select name="playerId" id="playerId" required>
                                <option value=""> <span class="fa-solid fa-chevron-down fa-sm"></span> </option>
                                {% for player in players %}
                                <option value="{{player.id}}">{{player.name_jersay}}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="btn">Retirer</button>
                        </fieldset>
                    </form>
                </article>
            </article>
        </section>
    </main>
{% endblock %}