{% extends "base.html.twig" %}

{% block main %}
    <main class="main">
        <section class="admin">
            <a href="Vérifier-Admin-{{secret}}" class="btn">Retour</a>
                <h1>Page Actualité</h1>
                <article class="handle">
                    <h2>Articles</h2>
                    <ul>
                        <li><span class="fa-solid fa-square-plus fa-2xl" style="color: #00ff62;"></span></li>
                        <li><span class="fa-solid fa-repeat fa-2xl" style="color: #0534f0;"></span></li>
                        <li><span class="fa-solid fa-trash-can fa-2xl" style="color: #ff0000;"></span></li>
                    </ul>
                    {% if errorMessage is not empty %}
                        <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
                    {% endif %}

                    {% if valideMessage is not empty %}
                        <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
                    {% endif %}
                    <article class="add">
                        <h3>Ajouter un article <span class="fa-solid fa-square-plus fa-xl" style="color: #00ff62;"></span></h3>
                        <form action="Ajouter-Article-{{secret}}" method="POST" enctype="multipart/form-data" class="form formAddArticle">
                            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                                <fieldset>
                                    <label for="titleArticle">Titre</label>
                                    <input type="text" id="titleArticle" name="titleArticle" placeholder="Titre" required>
                                </fieldset>
                                <fieldset>
                                    <label for="excerptArticle">Résumé</label>
                                    <textarea id="excerptArticle" name="excerptArticle" placeholder="Résumé" maxlength="550" required></textarea>
                                </fieldset>
                                <fieldset>
                                    <label for="contentArticle">Contenu</label>
                                    <textarea id="contentArticle" name="contentArticle" placeholder="Contenu" required></textarea>
                                </fieldset>
                                <fieldset>
                                    <label for="imgUrl">Image (pas obligatoire)</label>
                                    <input type="file" id="addMediaFile" name="addMediaFile" accept="image/*" >
                                    <input type="hidden" id="addMediaFile" name="addMediaFile">
                                </fieldset>
                                <fieldset>
                                    <label for="imgUrlArticle">Image Alt</label>
                                    <input type="text" id="imgAltArticle" name="imgAltArticle" placeholder="Description de l'image" required>
                                </fieldset>
                            <fieldset>
                                <button type="submit" class="btn">Ajouter</button>
                            </fieldset>
                        </form>
                    </article>

                    <article class="changeTitle">
                        <h3>Modifier le titre de l'article <span class="fa-solid fa-repeat fa-xl" style="color: #0534f0;"></span></h3>
                        <form action="Changer-Titre-Article-{{secret}}" method="POST" class="form formChangeArticle">
                            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                                <fieldset>
                                    <label for="article">Choisissez l'article à modifier : </label>
                                    <select name="articleId" id="articleId" required>
                                        <option value=""> <span class="fa-solid fa-chevron-down fa-sm"></span></option>
                                        {% for article in articles %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                                <fieldset>
                                    <label for="changeTitleArticle">Titre</label>
                                    <input type="text" id="changeTitleArticle" name="changeTitleArticle" >
                                </fieldset>
                            <fieldset>
                                <button type="submit" class="btn">Modifier</button>
                            </fieldset>
                        </form>
                    </article>

                    <article class="change">
                        <h3>Modifier le contenue de l'article <span class="fa-solid fa-repeat fa-xl" style="color: #0534f0;"></span></h3>
                        <form action="Changer-Contenu-Article-{{secret}}" method="POST" class="form formChangeArticle">
                            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                                <fieldset>
                                    <label for="article">Choisissez l'article à modifier : </label>
                                    <select name="articleId" id="articleId" required>
                                        <option value=""> <span class="fa-solid fa-chevron-down fa-sm"></span></option>
                                        {% for article in articles %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                                <fieldset>
                                    <label for="changeExcerptArticle">Résumé</label>
                                    <textarea id="changeExcerptArticle" name="changeExcerptArticle" maxlength="550"></textarea>
                                </fieldset>
                                <fieldset>
                                    <label for="changeContentArticle">Contenu</label>
                                    <textarea id="changeContentArticle" name="changeContentArticle"></textarea>
                                </fieldset>
                            <fieldset>
                                <button type="submit" class="btn">Modifier</button>
                            </fieldset>
                        </form>
                    </article>

                    <article class="change">
                        <h3>
                            Modifier l'image de l'article 
                            <span class="fa-solid fa-repeat fa-xl" style="color: #0534f0;"></span>
                        </h3>

                        <form action="Changer-Image-Article-{{secret}}" 
                                method="POST" 
                                enctype="multipart/form-data" 
                                class="form formChangeArticle">
                                
                            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                                <fieldset>
                                    <label for="article">Choisissez l'article à modifier : </label>
                                    <select name="articleId" id="articleId" required>
                                        <option value=""> <span class="fa-solid fa-chevron-down fa-sm"></span></option>
                                        {% for article in articles %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                                <fieldset>
                                    <label for="imgUrl">Image (pas obligatoire)</label>
                                    <input type="file" id="addMediaFile" name="addMediaFile" accept="image/*" >
                                    <input type="hidden" id="addMediaFile" name="addMediaFile">
                                </fieldset>
                                <fieldset>
                                    <label for="changeImgUrlArticle">Image Alt</label>
                                    <input type="text" id="changeImgAltArticle" name="changeImgAltArticle">
                                </fieldset>
                            <fieldset>
                                <button type="submit" class="btn">Modifier</button>
                            </fieldset>
                        </form>
                    </article>

                    <article class="remove">
                        <h3>Supprimer un article <span class="fa-solid fa-trash-can fa-xl" style="color: #ff0000;"></span></h3>
                        <form action="Supprimer-Article-{{secret}}" method="POST" class="form formRemoveArticle">
                            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                            <fieldset>
                                <label for="article">Choisissez l'article à suprimmer : </label>
                                <select name="articleId" id="articleId" required>
                                    <option value=""> <i class="fa-solid fa-chevron-down fa-sm"></i> </option>
                                    {% for article in articles %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                    {% endfor %}
                                </select>
                            </fieldset>
                            <fieldset>
                                <button type="submit" class="btn">Supprimer</button>
                            </fieldset>
                        </form>
                    </article>
                </article>
        </section>
    </main>
{% endblock %}