{% extends "base.html.twig" %}
{% block main %}
    <main class="main">
    <article class="espaceAdmin">
        <h1>Espace admin <span class="fa-solid fa-user-tie" style="color: #ffffff;"></span></h1>
            {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
        <ul>
            {% set resultFound = false %}
                {% for matchPlay in matchPlays %}
                    {% set matchFound = false %}
                    {% for resultMatch in resultMatchs %}
                        {% if matchPlay.match_id == resultMatch.match_id %}
                            {% set matchFound = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not matchFound %}
                        {% set resultFound = true %}
                        <li>
                            <a href="Admin-Match-{{secret}}">Résultat des matchs <span class="fa-solid fa-bell" style="color: #e60000;"></span></a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if resultFound == false %}
                    <li>
                        <a href="Admin-Match-{{secret}}">Résultat des matchs</a>
                    </li>
                {% endif %}
            <li>
                <a href="Admin-Equipe-Rivale-{{secret}}">Equipe rival</a>
            </li>
            <li>
                <a href="Gestion-Admin-{{secret}}">Nos Admins </a>
            </li>
            <li>
                <a href="Admin-site-{{secret}}">{{nsMasia.name}}</a>
            </li>
            <li>
                <a href="Admin-Actualités-{{secret}}">Actualité <span class="fa-solid fa-newspaper" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="Admin-Club-{{secret}}">Club <span class="fa-regular fa-futbol" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="Admin-Boutique-{{secret}}">Boutique <span class="fa-solid fa-shop" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="Admin-Billetterie-{{secret}}">Billeterie<span class="fa-solid fa-ticket" style="color: #ffffff;"></span></a>
            </li>
        </ul>
    </article>
</main>
{% endblock %}