{% extends "base.html.twig" %}

{% block main %}
    <main class="main">
        <section class="admin">
        <a href="index.php?route=checkAdmin&secret={{secret}}" class="btn">Retour</a>
        <h1>Page d'Accueil</h1>
            <article class="handle">
                <h2>Accueil</h2>
                <ul>
                    <li><span class="fa-solid fa-futbol fa-2xl" style="color: #fbff00;"></span></li>
                </ul>
                {% if errorMessage is not empty %}
                    <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
                {% endif %}

                {% if valideMessage is not empty %}
                    <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
                {% endif %}
                <article class="add">
                    <h3>Ajouter le résultat des matchs joués <span class="fa-solid fa-futbol" style="color: #fbff00;"></span></h3>  
                    {% set resultFound = false %}
                    {% for matchPlay in matchPlays %}
                        {% set matchFound = false %}
                        {% for resultMatch in resultMatchs %}
                            {% if matchPlay.match_id == resultMatch.match_id %}
                                {% set matchFound = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not matchFound %}
                            {% set resultFound = true %}
                            <form action="index.php?route=checkAddResult&secret={{secret}}" method="POST" class="form">
                                <input type="hidden" name="csrf-token" value="{{ tokenCSRF }}"/>
                                <input type="hidden" name="matchId" value="{{ matchPlay.match_id }}">
                                
                                <h1>Match joué le {{ matchPlay.date }}</h1>
                                <fieldset>
                                    <label for="resultTeamNsMasia">{{ matchPlay.name }}</label>
                                    <input type="number" name="resultTeamNsMasia" min="0" required>
                                </fieldset>
                                <fieldset>
                                    <label for="resultTeamRival">{{ matchPlay.team }}</label>
                                    <input type="number" name="resultTeamRival" min="0" required>
                                </fieldset>
                                <fieldset>
                                    <button type="submit" class="btn">Ajouter</button>
                                </fieldset>
                            </form>
                        {% endif %}
                    {% endfor %}
                    {% if resultFound == false %}
                        <p>Pas de résultat à ajouter.</p>
                    {% endif %}
                </article>
            </article>
        </section>
    </main>
{% endblock %}