{% extends "base.html.twig" %}
{% block main %}
    <main class="main">
    <article class="espaceAdmin">
        <h1>Espace admin <span class="fa-solid fa-user-tie" style="color: #ffffff;"></span></h1>
            {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
        <ul>
            <li>
                <a href="index.php?route=adminHome&secret={{secret}}">Accueil <span class="fa-solid fa-house" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="index.php?route=adminActualite&secret={{secret}}">Actualité <span class="fa-solid fa-newspaper" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="index.php?route=adminClub&secret={{secret}}">Club <span class="fa-regular fa-futbol" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="index.php?route=adminBoutique&secret={{secret}}">Boutique <span class="fa-solid fa-shop" style="color: #ffffff;"></span></a>
            </li>
            <li>
                <a href="index.php?route=adminBiletterie&secret={{secret}}">Billeterie <span class="fa-solid fa-ticket" style="color: #ffffff;"></span></a>
            </li>
        </ul>
    </article>
</main>
{% endblock %}