{% extends "base.html.twig" %}

{% block main %}
    <main class="container">
        <div class="searchAndBag">
            <i class="gg-search search"></i>
            <i class="gg-shopping-bag bagProduct"></i>
        </div>
        <article class="titleBoutique">
            <figure>
                <img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Boutique Officiel</p>
        </article>
    <div class="allShirt">
    <span class="productLength invisible">{{products|length}}</span>
    {% for product in products %}
        <section class="shirtSale">
            <figure class="shirtOne" id="{{product.id}}">
                <a href="index.php?route=lookProduct&id={{product.id}}">
                    <img src="{{ product.img_url }}" alt="{{ product.img_alt }}"/>
                </a>
            </figure> 
            <ul>
                <li>
                    <h2>
                        <a href="index.php?route=lookProduct&id={{product.id}}">
                            {{ product.name }}
                        </a>
                    <h2>
                </li>
                <li>
                    <p>Prix : <span class="prices">{{product.prices }}</span>€</p> 
                </li>
            </ul>
        </section>
    {% endfor %}
    </div>

    <section class="pannier invisible">
            <h5>Panier</h5>
            <div class="panierUser"></div> 
            <div class="panier-total"></div>
            <form action="index.php?route=panier" method="POST">
                <button type="submit" class="btn">Valider</button>
            </form>
        </section>
{% endblock %}


