{% extends "base.html.twig" %}

{% block main %}
    <main class="main">
        <section class="pageBoutique">
            <div class="searchAndBag">
                <span class="gg-shopping-bag bagProduct"></span>
            </div>
            <figure class="logoNs">
                <img src="{{nsMasia.logourl}}" alt="{{nsMasia.logoalt}}">
            </figure>
            <h1>Boutique {{nsMasia.name}}</h1>
            {% if errorMessage is not empty %}
                <p style="text-align:center;" class="alertMessage">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}
            {% if valideMessage is not empty %}
                <p style="text-align:center;" class="alertMessage">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
            <div id="search-results"></div>
            <div class="allShirt" id="articles-container">
            <span class="productLength ">{{products|length}}</span>
                {% for product in products %}
                    {% if product.status == 'ACTIF' %}
                    <article class="shirtSale">
                        <figure class="shirtOne" id="{{product.id}}">
                            <a href="Produit-{{product.id}}">
                                <img src="{{ product.img_url }}" alt="{{ product.img_alt }}">
                            </a>
                        </figure> 
                        <ul>
                            <li>
                                <h2>
                                    <a href="Produit-{{product.id}}">
                                        {{ product.name }}
                                    </a>
                                </h2>
                            </li>
                            <li>
                                <p>Prix : <span class="prices">{{product.prices }}</span>€</p> 
                            </li>
                        </ul>
                    </article>
                    {% endif %}
                {% endfor %}
            </div>
            
            <section class="bagProductsUser invisible">
                    <h5>Panier</h5>
                    <div class="bagProducts"></div> 
                    <div class="bagProductsTotal"></div>
                    <form action="Panier" method="POST">
                        <button type="submit" class="btn">Valider</button>
                    </form>
            </section>
        </section>
        <div class="pagination" id="pagination-container"></div>
    </main>
{% endblock %}

{% block js %}
    <script src="js/news.js"></script>
{% endblock %}

