{% extends "base.html.twig" %}

{% block main %}
    <main class="main">
        <article class="titleBoutiquePayement">
            <figure>
                <a href="Accueil"><img src="{{nsMasia.logourl}}" alt="{{nsMasia.logoalt}}"/></a>
            </figure>
            <h1>{{nsMasia.name}}</h1>
            <p>Boutique Officiel</p>
        </article>
        <div class="payement">
            <div class="orderUser">
                <article class="orderUser-connexion">
                {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
                {% endif %}

                {% if valideMessage is not empty %}
                    <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
                {% endif %}
                {% if userIsConect is empty %}
                <h2>Information personels </h2>
                    <form action="Vérification-de-connexion" method="POST" class="form formLogin">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="emailLogin">Email</label>
                            <input type="email" id="emailLogin" name="emailLogin" placeholder="email@gmail.com" required>
                        </fieldset>

                        <fieldset>
                            <label for="passwordLogin">Mot de passe</label>
                            <input type="password" id="passwordLogin" name="passwordLogin" placeholder="**********" required>
                        </fieldset>

                        <fieldset>
                        <button type="submit" name="submit" class="btn">Se connecter</button>
                        </fieldset>
                        <p class="goSignup">Créer nouveau compte ?<p>
                    </form>

                    <form action="Vérification-inscription" method="POST" class="form formSignup invisible" id="payment-form">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="first_name">Prénom</label>
                            <input type="text" id="first_name" name="first_name" required>
                        </fieldset>

                        <fieldset>
                            <label for="last_name">Nom</label>
                            <input type="text" id="last_name" name="last_name" required>
                        </fieldset>

                        <fieldset>
                            <label for="last_name">Nom</label>
                            <input type="email" id="emailSignup" name="emailSignup" placeholder="Email" required>
                        </fieldset>

                        <fieldset>
                            <label for="passwordSignup">Mot de passe</label>
                            <input type="password" id="passwordSignup" name="passwordSignup" placeholder="*********" required>
                        </fieldset>

                        <fieldset>
                            <label for="confirmPasswordSignup">Confirmer le mot de passe</label>
                            <input type="password" id="confirmPasswordSignup" name="confirmPasswordSignup" placeholder="*********" required>
                        </fieldset>

                        <fieldset>
                        <button type="submit" name="submit" class="btn"> Créer nouveau compte</button>
                        </fieldset>
                        <p class="goLogin">Vous avez déjà un compte ?<p>
                    </form>
                {% endif %}

                    {% if userIsConect is not empty %} <!-- Quand l'utilisateur n'est pas connecter-->
                        <article class="personalInfo">
                            <h2>Information personels</h2>
                            <p> {{ userIsConect }}</p>
                            <p>Poursuivre le processus d'achat <span class="fa-solid fa-circle-up fa-flip-vertical" style="color: #fcfcfc;"></span></p>
                        </article>
                    {% endif %}
                </article>

                <article class="orderUser-address">
                    <h2>Adresse de livraison</h2>
                    {% if addresse is empty %}
                    <form action="Vérification-Adresse"  method="POST" class="form formLivraison">
                        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <input type="hidden" name="user_id" id="user_id" value="{{ userId }}"/>
                        <fieldset>
                            <label for="address">Adresse</label>
                            <input type="text" id="address" name="address" required/>
                        </fieldset>
                        <fieldset>
                            <label for="orderComplements">Appartement, suite, etc.. (optionnel)</label>
                            <input type="text" id="orderComplements" name="orderComplements" />
                        </fieldset>
                        <fieldset>
                            <label for="orderZipCode">Code Postal</label>
                            <input type="number" id="orderZipCode" name="orderZipCode" required/>
                        </fieldset>
                        <fieldset>
                            <label for="orderCity">Ville</label>
                            <input type="text" id="orderCity" name="orderCity" required/>
                        </fieldset>
                        <fieldset>
                            <select name="pays">
                                    <option value="FR">France</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="btn">Valider</button>
                        </fieldset>
                    </form>
                    {% endif %}
                    {% if addresse is not empty %}
                            <article>
                                <h3>Votre adresse<h3>
                                <ul>
                                    <li>{{ addresse.addresse }}</li>
                                {% if addresse.complements is not empty %}
                                    <li>{{ addresse.complements }}</li>
                                {% endif %}
                                    <li>{{ addresse.postalcode ~ ' ' ~ addresse.city }}</li>
                                    <li>{{ addresse.pays}}</li>
                                </ul>
                                <a href="Compte-Utilisateur">Modifier votre adresse <span class="fa-solid fa-repeat" style="color: #ffffff;"></span></a>
                            </article>
                    {% endif %}
                </article>
            <section class="payementCart">
                <h4>Panier <span class="fa-solid fa-angle-up fa-flip-vertical fa-xl" id="lookCart" style="color: #ffffff;"></span></h4>
                <div class="recapCartUser invisible"></div> 
                <p id="totalPrice"></p>
            </section> 
            {% if addresse is not empty %}
            <form action="Paiement-Stripe" method="POST" class="formStripe">
                <button type="submit" id="checkout-button" class="btn">Passer au payement</button>
            </form>  
            {% else %}
                <p>Renseignez votre adresse de livraison pour poursuivre le processus d'achat...</p>
            {% endif %}
        </div>
    </main>
{% endblock %}