{% extends "base.html.twig" %}

{% block main %}
<span class="productLength invisible">{{products|length}}</span>
    {% for product in products %}
        <div class="searchAndBag">
            <i class="gg-search search"></i>
            <i class="gg-shopping-bag bagProduct"></i>
        </div>
        <article class="titleBoutique">
            <figure>
                <a href="index.php?route=home"><img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/></a>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Boutique Officiel</p>
        </article>
        <div class="maillot maillot{{ product.id }}">
            <section class="shirtSale">
                <div class="maillotFace">
                    <figure class="shirtOne" id="{{ product.id }}">
                        <img src="{{ product.img_url }}" alt="{{ product.img_alt }}"/>
                    </figure> 
                    <figure class="shirtTwo">
                        <img src="{{ product.other_img_url }}" alt="{{ product.other_img_alt }}"/>
                    </figure> 
                </div>

                <div class="maillotDos invisible">
                    <figure class="shirtOne" id="{{ product.id }}">
                        <img src="{{ product.other_img_url }}" alt="{{ product.other_img_alt }}"/>
                    </figure>
                    <figure class="shirtTwo">
                        <img src="{{ product.img_url }}" alt="{{ product.img_alt }}"/>
                    </figure> 
                </div>

                <h2>{{ product.name }}</h2> 
                <p>{{ product.img_alt }}</p>

                <ul>
                    <li>
                        <p>Prix : <span class="prices">{{ product.prices }}</span>€</p>
                    </li>
                    <li class="taille">
                        <label for="taille">Taille : </label>
                            <select name="taille" id="taille">
                                <option value=""> <i class="fa-solid fa-chevron-down fa-sm"></i> </option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                    </li>
                    <li>
                        <button type='submit' class="addCart btn">Ajouter au pannier</button>
                    </li>
                </ul>
            </section>
            <article class="description">
                <h3>Descriptions<i class="fa-solid fa-chevron-down fa-sm"></i></h3>
                <p>{{ product.descriptions }}</p>
            </article>
        </div>
    {% endfor %}
    <section class="pannier invisible">
            <h5>Panier</h5>
            <div class="panierUser"></div> 
            <div class="panier-total"></div>
            <form action="index.php?route=panier" method="POST">
                <button type="submit" class="btn">Valider</button>
            </form>
    </section>
{% endblock %}
