{% extends "base.html.twig" %}

{% block main %}
    <main class="container">
        <div class="searchAndBag">
            <i class="gg-search search"></i>
            <i class="gg-shopping-bag basket"> <p class="numberBasket"></p> <span class="textEmpty"></span></i> 
        </div>
        <article class="titleBoutique">
            <figure>
                <a href="index.php?route=home"><img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/></a>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Boutique Officiel</p>
        </article>
        <section class="shirtSale">
        {% set product = random(products) %}
            <figure class="shirtOne" id="{{product.id}}">
                <img src="{{ product.img_url }}" alt="{{ product.img_alt }}"/>
            </figure> 
             <figure class="shirtTwo">
                <img src="{{ product.other_img_url }}" alt="{{ product.other_img_alt }}"/>
            </figure> 
            <ul>
                <h2>{{ product.name }}</h2> 
                <p>{{ product.img_alt }}</p>
                <li class="taille">
                    <label for="taille">Taille : </label>
                    <select name="taille" id="taille">
                        <option value=""> <i class="fa-solid fa-chevron-down fa-sm"></i> </option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </li>
                <li>
                    <p>Prix : <span class="prices">{{product.prices }}</span>€</p>
                </li>
                <li> 
                    <i class="gg-remove moins"></i><p class="number">0</p><i class="gg-add plus"></i>     
                    <button class="btn-ajouterAuPannier">Ajouter au pannier</button>
                </li>
            </ul>
        </section>
        <article class="description">
            <h3>Description<i class="fa-solid fa-chevron-down fa-sm"></i><h3>
            <p>{{product.descriptions}}</p>
        </article>
        <section class="autreProduits">
            <h4>Ces produits pourraient vous intéresser aussi: </h4>
            <figure>
                {% for other_product in products %}
                        <span class="invisible other{{other_product.id}}">{{ other_product.id}}</span><img src="{{ other_product.img_url }}" alt="{{ other_product.img_alt }}" />
                {% endfor %}
            </figure>
        </section>

<!--Visible au click-->

        <section class="pannier invisible">
            <h5>Panier</h5>
            <article>
                <ul class="pannier-divRow">
                    <li>
                        <figure class="panier-img"></figure>
                    </li>
                    <ul class="pannier-divCol">
                        <li>
                            <h6 class="panier-nameProduct"></h6>
                        </li>
                        <li>
                            <p class="panier-price"></p> <span>X<span> <p class="panier-quantity"></p>
                        <li>
                    </ul> 
                </ul>
                    <p class="panier-total">€</p>
            </article>
            
            <form action="index.php?route=payement" method="GET">
                <button type="submit">Valider</button>
            </form>
        </section>
        <form class="boutiqueSearch invisible">
            <fieldset>
                <label for="search">Recherche <i type="submit" class="fa-solid fa-magnifying-glass fa-xs"></i></label>
                <input type="text" id="searchForm" name="searchForm"/>
            </fieldset>
            <button>Valider</button>
        </form>
    </main>
{% endblock %}
