
{% block main %}
<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--SEO-->
        <meta name="robots" content="index,follow">
        <meta name="description" content="Site officiel du FC NsMasia. Toute l'actualité autour de la Ns, vente de maillots et de places." >
        <link rel="icon" href="{{nsMasia.logourl}}">
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/" ></script>
        <!--Font POPPIN -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <!--Font Nunito -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet"><!-- Css.gg-->
        <!-- CSS GG-->
        <link href="https://css.gg/css" rel="stylesheet" />
        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- CSS-->
        <link rel="stylesheet" href="assets/styles/css/style.css">
        <title>Site officiel du {{nsMasia.name}}</title>    
</head>
<body>
<main class="main">
  <section class="formUser">
      <a href="javascript:history.back()"><span class="fa-solid fa-circle-chevron-left fa-2xl" style="color: #ffffff;"></span></a>
      <h1>Connexion / Inscription</h1>
            {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}

    <form action="Vérification-de-connexion" method="POST" class="form formLogin">
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
        <fieldset>
          <label for="emailLogin">Email</label>
          <input type="email" id="emailLogin" name="emailLogin" required>
        </fieldset>

        <fieldset>
          <label for="passwordLogin">Mot de passe</label>
          <input type="password" id="passwordLogin" name="passwordLogin" required>
        </fieldset>

        <fieldset>
          <button type="submit" name="submit" class="btn">Se connecter</button>
        </fieldset>
        <p class="goSignup">Créer nouveau compte <p>
      </form>

    <form action="Vérification-inscription" method="POST" class="form formSignup invisible">
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
        <fieldset>
          <label for="first_name">Prénom</label>
          <input type="text" id="first_name" name="first_name" required>
        </fieldset>

        <fieldset>
          <label for="last_name">Nom</label>
          <input type="text" id="last_name" name="last_name" required>
        </fieldset>

        <fieldset>
          <label for="emailSignup">Email</label>
          <input type="email" id="emailSignup" name="emailSignup" required>
        </fieldset>

        <fieldset>
          <label for="passwordSignup">Mot de passe</label>
          <input type="password" id="passwordSignup" name="passwordSignup" required>
        </fieldset>

        <fieldset>
          <label for="confirmPasswordSignup">Confirmer le mot de passe</label>
          <input type="password" id="confirmPasswordSignup" name="confirmPasswordSignup" required>
        </fieldset>

        <fieldset>
          <button type="submit" name="submit" class="btn"> Créer nouveau compte</button>
        </fieldset>
        <p class="goLogin"> Se connecter <p>
      </form>
  </section>
</main>
    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <!-- FontAwesone-->
    <script src="https://kit.fontawesome.com/3b11095cd8.js" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>
{% endblock %}