{% extends "base.html.twig" %}

{% block main %}
<main class="main">
    <article class="articleAllContent">
    <a href="Actualités" class="btn">Retour</a>
        <h1>{{articles.title}}</h1>
        <figure>
            <img src="{{articles.imgurl}}" alt="{{articles.img_alt}}">
            <figcaption>{{articles.img_alt}}</figcaption>
        </figure>
        <p class="text-content">{{articles.content|raw}}</p>
        <p class="text-content">Date : {{articles.date|date("m/d/Y", "Europe/Paris")}}</p>
    </article>
</main>
{% endblock %}
