{% extends "base.html.twig" %}

{% block main %}
<main class="container">

    <section class="home">
        <figure>
            <img src="assets/img/logo-ns_masia.png" alt="{{nsMasia.logoalt}}"/>
            <img src="assets/img/logo adidad nsmasia.png" alt="{{nsMasia.logoalt}}"/>
        </figure>
        <h1>NS<br>Masia FC</h1>
        <div class="btnProchainMatch">
            <button class="btn">Prochain match</button>
        </div>
    </section>

    <section class="homeActualite">
        <h2>Actualité</h2>
        <div class="diapo" data-speed="5000" data-transition="2">
            <div class="allArticle">
            {% for article in articles %}
                <article class="article">
                        <h3>{{ article.title }}</h3>
                    <a href="index.php?route=homeArticle&id={{article.id}}">
                        <button>Lire</button>
                    </a>
                        <figure>
                            <img src="{{ article.img_url }}" alt="{{ article.img_alt }}" />
                        </figure>
                </article>
            {% endfor %}
            </div>
        </div>
        <div class="buttonNextPrevious">
            <button class="btnPreviousSlide"><i class="fa-solid fa-angle-left"></i></button>
            <button class="btnNextSlide"> <i class="fa-solid fa-angle-left fa-flip-horizontal"></i></button>
        </div>
    </section>

    <div class="container-prochainMatch">
        <article class="lastResult">
            <h3>Dernier résultat</h3>
            {% for match in matchPlays %}
                <p>Le {{ match.date }} à {{ match.time }}.</p>
                <p>{{ match.matchIsAtStadium_name }}</p>
                <div class="teamForLastMatch">
                    <figure>
                        <img src="assets/img/logo-ns_masia.png" alt=""/>
                        <figcaption>{{ match.name }}</figcaption>
                    </figure> 
                    {% for result in resultMatchs %}
                        {% if result.match_id == match.match_id %}
                    <p>
                        {{ result.score_nsMasia ~ ' - ' ~ result.score_rivalTeam}}
                    </p>
                        {% endif %}
                    {% endfor %}
                    <figure>  
                        <img src="{{ match.logo_url }}" alt="{{ match.logo_alt }}" />
                        <figcaption>{{ match.team }}</figcaption>
                    </figure>
                </div>
             {% endfor %}
        </article>

        <article class="prochainMatch">
            <h3>Prochaine rencontre</h3>
            {% set prochainMatch = null %}
            {% set dateActuelle = "now"|date("Y-m-d") %} 
            {% for match in matchs %}
                {% if match.date >= dateActuelle %}
                    {% if prochainMatch is null or match.date < prochainMatch.date %}
                        {% set prochainMatch = match %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if prochainMatch is not null %}
                <p>Le {{ prochainMatch.date }} à {{ prochainMatch.time }}.</p>
                <p>{{ prochainMatch.stadium }}</p>
                <div class="teamForMatch">
                    <figure>
                        <img src="assets/img/logo-ns_masia.png" alt="{{nsMasia.logoalt}}"/>
                        <figcaption>{{prochainMatch.name}}</figcaption>
                    </figure> 
                    <p>VS</p>
                    <figure>  
                        <img src="{{ prochainMatch.logo_url }}" alt="{{prochainMatch.logo_alt}}" />
                        <figcaption>{{prochainMatch.team}}</figcaption>
                    </figure>
                </div>
                {% if prochainMatch.domicileExterieur == 'domicile' %}
                <a href="index.php?route=billeterie"><button class="btn">Billetterie</button></a>
                {% else %}
                <p>Match à l'exterieur</p>
                {% endif %}
            {% else %}
                <p>Aucun match à venir.</p>
            {% endif %}
        </article>


        <article class="ranking">
            <h3>Classement</h3>
            <table>
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>Equipe</th>
                        <th>J</th>
                        <th>G</th>
                        <th>N</th>
                        <th>P</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% set sortedTeams = allTeam|sort((a, b) => b.ranking_points <=> a.ranking_points) %}
                    {% set teamsToShow = [] %}
                    {% for team in sortedTeams %}
                        {% if team.team == 'nsMasiaFC' or loop.index <= 3 %}
                            {% set teamsToShow = teamsToShow|merge([team]) %}
                        {% endif %}
                    {% endfor %}
                    {% for team in teamsToShow %}
                        <tr>
                            <td class="rankingTd">{{ loop.index }}</td> 
                            <td class="rankingTdTeam"> {{ team.team }}</td>
                            <td class="rankingTd">{{ team.match_play }}</td>
                            <td class="rankingTd">{{ team.match_win }}</td>
                            <td class="rankingTd">{{ team.match_nul }}</td>
                            <td class="rankingTd">{{ team.match_lose }}</td>
                            <td class="rankingTd">{{ team.ranking_points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="index.php?route=allRanking"><button class="btn">Classement complet</button></a>
        </article>
    </div>

    <section class="homeClub">
        <h4>Club</h4>
        <article class="homeClubHistoire">
            <h5>Histoire du club</h5>
            <p>est esse dicta. 33 molestiae voluptut consequatur eaque vel dolores autem?</p>
            <button class="btn">EN SAVOIR PLUS</button>
        </article>
        <div class="diapoClub">
            <div class="slideHomeClub" data-player="{{players|length}}">
            {% for player in players %}
                <article class="playersNsMasia">
                    <h6>{{ player.number}}</h6>
                        <div>
                            <p>{{ player.first_name}}</p>
                            <p>{{player.last_name}}</p>
                        </div>
                        <figure>
                            <img src="https://live.staticflickr.com/65535/53618576116_990506817d_n.jpg" alt="" />
                        </figure>
                        <p class="playersLenght">{{ loop.index }} / {{ players|length }}</p>
                </article>
            {% endfor %}
            </div>
        </div>
        <div class="homeClubBtn">
            <button class="homeClubBtnPrevious"><i class="fa-solid fa-angle-left"></i></button>
            <button class="homeClubBtnNext"> <i class="fa-solid fa-angle-left fa-flip-horizontal"></i></button>
        </div>
    </section>
</main>
{% endblock %}


          
