{% extends "base.html.twig" %}

{% block main %}
<main class="container">
    <section class="pageHome">
    {% if errorMessage is not empty %}
        <p style="text-align:center;" class="alertMessage">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
    {% endif %}

    {% if valideMessage is not empty %}
        <p style="text-align:center;" class="alertMessage">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
    {% endif %}
        <div class="home" style="background-image: url(https://live.staticflickr.com/65535/53561068793_a7b0b0feac.jpg);">
            <figure>
                <img src="{{nsMasia.logourl}}" alt="{{nsMasia.logoalt}}"/>
                <img src="assets/img/logo_adidad_nsmasia.png" alt="{{nsMasia.logoalt}}"/>
            </figure>
            <h1>NS<br>Masia FC</h1>
            <div class="btnProchainMatch">
                <button class="btn">Prochain match <span class="fa-solid fa-circle-left fa-rotate-270" style="color: #ffffff;"></span></button>
            </div>
        </div>

         {% if articles %}
        <section class="homeActualite">
            <h2>Actualité</h2>
            <div class="diapo" data-speed="5000" data-transition="2">
                <div class="allArticle">
                {% for article in articles|slice(0, 3) %}
                    <article class="article">
                            <h3>{{ article.title }}</h3>
                        <a href="Article-{{article.id}}" class="btn">
                            Lire
                        </a>
                        <figure>
                            <img src="{{ article.img_url }}" alt="{{ article.img_alt }}" />  
                        </figure>
                    </article>
                {% endfor %}
                </div>
            </div>
            <div class="buttonNextPrevious">
                <button class="btnPreviousSlide"><span class="fa-solid fa-angle-left"></span></button>
                <button class="btnNextSlide"> <span class="fa-solid fa-angle-left fa-flip-horizontal"></span></button>
            </div>
        </section>
        {% endif %}
        <div class="container-prochainMatch">
            {% if matchPlays %}
            <article class="lastResult">
                <h3>Dernier résultat</h3>
                {% for match in matchPlays %}
                    {# <p class="lastResultDate">{{ match.date|format_datetime('full', 'none', locale='fr') }}</p> #}
                    <p class="lastResultDate">{{ match.date|date("d/m/Y", "Europe/Paris") }}</p>
                    {% if match.home_outside == 'domicile' %}
                        <p class="lastResultDom">{{ match.name }}</p>
                        <p class="lastResultEx">{{ match.team }}</p>
                    {% else %}
                        <p class="lastResultDom">{{match.team}}</p>
                        <p class="lastResultEx">{{match.name}}</p>
                    {% endif %}
                    <div class="teamForLastMatch">
                        <figure>
                            <img src="{{nsMasia.logourl}}" alt="{{nsMasia.logoalt}}"/>
                        </figure> 
                        {% for result in resultMatchs %}
                            {% if result.match_id == match.match_id %}
                                <p>{{ result.score_nsMasia ~ ' - ' ~ result.score_rivalTeam }}</p>
                            {% endif %}
                        {% endfor %}
                        <figure>  
                            <img src="{{ match.logo_url }}" alt="{{ match.logo_alt }}" />
                        </figure>
                    </div>
                {% endfor %}
            </article>
            {% endif %}
            {% if next_match is not empty %}
                <article class="prochainMatch">
                    <h3>Prochaine rencontre</h3>
                    {% if next_match.home_outside == 'domicile' %}
                        <p class="prochainMatchDom">{{ next_match.name }}</p>
                        <p class="prochainMatchEx">{{ next_match.team }}</p>
                    {% else %}
                        <p class="prochainMatchDom">{{ next_match.team }}</p>
                        <p class="prochainMatchEx">{{ next_match.name }}</p>
                    {% endif %}
                    <p class="prochainMatchDate">{{ next_match.date|date("d/m/Y", "Europe/Paris") }}</p>
                    <div class="teamForMatch">
                        <figure>
                            <img src="{{nsMasia.logourl}}" alt="{{ nsMasia.logoalt }}"/>
                        </figure>
                        <p>{{ next_match.time|date("H:i", "Europe/Paris") }}</p>
                        <figure>
                            <img src="{{ next_match.logo_url }}" alt="{{ next_match.logo_alt }}" />
                        </figure>
                    </div>
                    {% if next_match.home_outside == 'domicile' %}
                        <a href="Billetterie" class="btn">
                            Billetterie 
                            <span class="fa-solid fa-circle-left fa-flip-horizontal" style="color: #ffffff;"></span>
                        </a>
                    {% else %}
                        <p>Match à l'exterieur.</p>
                    {% endif %}
                </article>
            {% endif %}
            {% if allTeam %}
            <article class="ranking">
                <h3>Classement</h3>
                <table>
                    <thead>
                        <tr>
                            <th>POS</th>
                            <th>Equipe</th>
                            <th>J</th>
                            <th>G</th>
                            <th>N</th>
                            <th>P</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set sortedTeams = allTeam|sort((a, b) => b.ranking_points <=> a.ranking_points) %}
                        {% set teamsToShow = [] %}
                        {% for team in sortedTeams %}
                            {% if team.team == 'nsMasiaFC' or loop.index <= 3 %}
                                {% set teamsToShow = teamsToShow|merge([team]) %}
                            {% endif %}
                        {% endfor %}
                        {% for team in teamsToShow %}
                            <tr>
                            {% if team.team == 'NS Masia FC' %}
                                <td class="rankingTd rankingTdNsMasia">{{ loop.index }}</td> 
                                <td class="rankingTdTeam rankingTdNsMasia"> {{ team.team }}</td>
                                <td class="rankingTd rankingTdNsMasia">{{ team.match_play }}</td>
                                <td class="rankingTd rankingTdNsMasia">{{ team.match_win }}</td>
                                <td class="rankingTd rankingTdNsMasia">{{ team.match_nul }}</td>
                                <td class="rankingTd rankingTdNsMasia">{{ team.match_lose }}</td>
                                <td class="rankingTd rankingTdNsMasia">{{ team.ranking_points }}</td>
                            {% else %}
                                <td class="rankingTd">{{ loop.index }}</td> 
                                <td class="rankingTdTeam"> {{ team.team }}</td>
                                <td class="rankingTd">{{ team.match_play }}</td>
                                <td class="rankingTd">{{ team.match_win }}</td>
                                <td class="rankingTd">{{ team.match_nul }}</td>
                                <td class="rankingTd">{{ team.match_lose }}</td>
                                <td class="rankingTd">{{ team.ranking_points }}</td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="Classement" class="btn">
                    Classement complet 
                    <span class="fa-solid fa-circle-left fa-flip-horizontal" style="color: #ffffff;"></span>
                </a>
            </article>
            {% endif %}
        </div> 

        <section class="homeClub">
            <h4>Club</h4>
            <div class="block-homeClub">
                <div class="block-homeClubHistoire">
                    <article class="homeClubHistoire">
                        <a href="Club">
                            <p>NS MASIA F.C. 2024</p>
                            <h5>Histoire du club</h5>
                            <figure>
                                <img src="https://live.staticflickr.com/65535/53630671194_1a9e5bbe73.jpg" alt="Stade NS Masia FC durant un match" />
                            </figure>
                        </a>
                    </article>
                    <article class="homeClubPlayers">
                        <a href="Club">
                            <p>NS MASIA F.C. 2024</p>
                            <h5>Joueur du club</h5>
                            <figure>
                                <img src="https://live.staticflickr.com/65535/53614561184_cbdbef9f8d_z.jpg" alt="Stade NS Masia FC durant un match" />
                            </figure>
                        </a>
                    </article>
                </div>  
                {% if players %}         
                <div class="multiple-items sliderPlayer" style="opacity:1;">
                    {% for player in players %}
                        <article>
                            <figure>
                                <img src="{{player.img}}" 
                                     alt="image de {{ player.first_name ~ ' ' ~ player.last_name}}" 
                                     data-lazy="{{player.img}}"/>
                                <div class="info">
                                    <h6>{{ player.number}}</h6>
                                    <p>{{ player.first_name}}</p>
                                    <p>{{player.last_name}}</p>
                                </div>
                            </figure>
                        </article>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section> 
    </section>
</main>
{% endblock %}


          
