{% extends "base.html.twig" %}

{% block main %}
<main class="container">

    <section class="home">
        <figure>
            <img src="assets/img/logo-ns_masia.png" alt="{{nsMasia.logoalt}}"/>
            <img src="assets/img/logo adidad nsmasia.png" alt="{{nsMasia.logoalt}}"/>
        </figure>
        <h1>NS<br>Masia FC</h1>
        <button class="btn">Prochain match</button>
    </section>

    <section class="container-prochainMatch">
        <article class="lastResult">
            <h2>Dernier résultat</h2>
            {% set dernierMatch = null %}
            {% for match in resultLastMatch %}
                {% if match.date <= "now"|date("Y-m-d") %}
                    {% if dernierMatch is null or match.date > dernierMatch.date %}
                        {% set dernierMatch = match %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if dernierMatch is not null %}
                <p>Le {{ dernierMatch.date }} à {{ dernierMatch.time }}.</p>
                <p>{{ dernierMatch.stadium }}</p>
                <div class="teamForLastMatch">
                    <figure>
                        <img src="assets/img/logo-ns_masia.png" alt="{{nsMasia.logoalt}}"/>
                        <figcaption>{{dernierMatch.name}}</figcaption>
                    </figure> 
                    {% for score in resultMatch %}
                    <p>
                    {{ score.score_nsMasia ~ ' - ' ~ score.score_rivalTeam }}
                    </p>
                    {% endfor %}
                    <figure>  
                        <img src="{{ dernierMatch.logo_url }}" alt="{{dernierMatch.logo_alt}}" />
                        <figcaption>{{dernierMatch.team}}</figcaption>
                    </figure>
                </div>
            {% else %}
                <p>Aucun match joué.</p>
            {% endif %}
        </article>

        <article class="prochainMatch">
            <h2>Prochaine rencontre</h2>
            {% set prochainMatch = null %}
            {% set dateActuelle = "now"|date("Y-m-d") %} {# Obtenir la date actuelle au format "YYYY-MM-DD" #}
            {% for match in matchs %}
                {% if match.date >= dateActuelle %}
                    {% if prochainMatch is null or match.date < prochainMatch.date %}
                        {% set prochainMatch = match %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if prochainMatch is not null %}
                <p>Le {{ prochainMatch.date }} à {{ prochainMatch.time }}.</p>
                <p>{{ prochainMatch.stadium }}</p>
                <div class="teamForMatch">
                    <figure>
                        <img src="assets/img/logo-ns_masia.png" alt="{{nsMasia.logoalt}}"/>
                        <figcaption>{{prochainMatch.name}}</figcaption>
                    </figure> 
                    <p>VS</p>
                    <figure>  
                        <img src="{{ prochainMatch.logo_url }}" alt="{{prochainMatch.logo_alt}}" />
                        <figcaption>{{prochainMatch.team}}</figcaption>
                    </figure>
                </div>
                {% if prochainMatch.domicileExterieur == 'domicile' %}
                <a href="index.php?route=billeterie"><button class="btn">Billetterie</button></a>
                {% else %}
                <p>Match à l'exterieur</p>
                {% endif %}
            {% else %}
                <p>Aucun match à venir.</p>
            {% endif %}
        </article>


        <article class="ranking">
            <h2>Classement</h2>
            <table>
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>Equipe</th>
                        <th>PTS</th>
                        <th>J</th>
                        <th>G</th>
                        <th>N</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>2</td> 
                        <td>Rennes</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    
                </tbody>
            </table>
            <button class="btn">Classement complet</button>
        </article>
    </section>
</main>
{% endblock %}

          
