{% extends "base.html.twig" %}

{% block main %}
<main class="container">
    <article class="blockArticle">
        <h1>Actualité</h1>
        {% if errorMessage is not empty %}
                <p style="text-align:center;">{{ errorMessage }} <span class="fa-solid fa-square-xmark fa-xl" style="color: #ff0000;"></span></p>
            {% endif %}

            {% if valideMessage is not empty %}
                <p style="text-align:center;">{{ valideMessage }} <span class="fa-solid fa-square-check fa-xl" style="color: #00ff55;"></span></p>
            {% endif %}
        <div id="articles-container">
            {% for article in articles %}
            <article class="articleContent">
                <h2>{{article.title}}</h2>
                <figure>
                    <img src="{{article.img_url}}" alt="{{article.img_alt}}">
                </figure>
                <p>{{article.excerpt}}</p>
                <p>Date : {{article.date|date("d/m/Y", "Europe/Paris")}}</p>
                <a href="Article-{{article.id}}" class="btn">
                    Lire l'article
                </a>
            </article>
            {% endfor %}
        </div>  
    </article>
    <div class="pagination" id="pagination-container"></div>
</main>
{% endblock %}

{% block js %}
<script src="js/news.js"></script>
{% endblock %}