{% extends "base.html.twig" %}

{% block main %}
<main class="container">
    <article class="titleBoutique img-background">
        <figure>
            <a href="index.php?route=home"><img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/></a>
        </figure>
        <h1>NsMasia FC</h1>
        <p>Réservation</p>
    </article>
    
    {% for match in matchs %}
    <section>
        <div>
            <h2>{{match.name ~ ' vs ' ~ match.team }} </h2>
            <p>{{ match.date |date("l j F", "Europe/Paris") }} - {{ match.time |date("H:i", "Europe/Paris") }}</p>
            <p>Le match sera à {{ match.domicileExterieur }} <span class="matchId invisible">{{match.match_id}}</span></p> 
            <p>Le match se tiendra au stade {{ match.stadium_name }}</p> 
        </div>
        <figure class="">
            <img src="{{match.logo_url}}" alt="{{match.logo_alt}}"/>
        </figure> 
    </section>
    {% endfor %}
    <section>
        <h2>Selectionnez votre zone</h2>
        <figure class="stadiumTicket">
            <img src="https://live.staticflickr.com/65535/53585656868_223e557554_w.jpg" alt="stades NS Masia Fc"/>
        </figure> 
    </section>
    <article class="allTickets">
        <h2>Choisissez votre place</h2>
       {% for ticket in tickets %}
            <ul class="tickets">
                <li class="tribune" data-id="{{ ticket.id }}"> {{ ticket.tribune }}</li>
                <li class="tickets-prices">Prix : <span class="ticketPrice">{{ ticket.prices }}</span> €</li>
                    
            </ul>
        {% endfor %}
    </article> 
</main>
{% endblock %}